<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img routerLink="/home" src="assets/icon/logo-aro.png"> </ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="bottom-section" routerLink="/home">accueil</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
     

      <ion-card>
        <ion-card-header>
          <ion-card-title>
           Arosa-je
          </ion-card-title>
          <ion-card-subtitle>
           Bienvenue à  <a href="#" >Arosa-je</a>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
           <ion-item>
            <ion-input placeholder="Nom d'utilisateur"></ion-input>
           </ion-item>
           <ion-item>
             <ion-input placeholder="Mot de passe"></ion-input>
           </ion-item>
           <a href="#">Mot de passe oublié ?</a>

           <div class="bottom-section">
             <ion-button routerLink="/page-client">Connexion</ion-button>
             <span> Vous avez pas de compte ? <a routerLink="/inscription"> Inscrivez-vous</a></span>
           </div>
        </ion-card-content>
      </ion-card>
    </div>
 </div>

  </ion-content>
