<ion-header>
    <ion-toolbar  >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-img src="assets/icon/logo-aro.png"> </ion-img>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button class="bottom-section">accueil</ion-button>
        
        <ion-button class="bottom-section" routerLink="/connexion">connexion</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="background-pic">
      <div class="background-filter">
    
    <ion-grid>
      <ion-row class="text1">
        <ion-col size="6">
          <div>Nous vous proposons, en tant qu’observateur, de contribuer à la connaissance des arbres de votre quartier, de votre commune ou de votre département.
            Étape par étape, présentez-vous puis décrivez l’arbre.</div>
            <ion-img class="arbres" src="assets/icon/arbres-illus.gif"></ion-img>
        </ion-col>
        <ion-col sizeLg="5" size="6">
          <div>Contenu de la colonne droite</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
  </ion-content>

